<h1>Maximum Plaid</h1>

<h2>Line</h2>

{{partial "charts/line-chart"}}

<h2>Bars</h2>
{{partial "charts/bar-chart"}}

<h2>Donut</h2>
{{#with (area 664 220) as |plotArea|}}
  {{#plaid-plot plotArea=plotArea as |plot|}}

    {{plot.donut (pair-by "timestamp" "value" donutData)}}

  {{/plaid-plot}}
{{/with}}